<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>XAKKT 2.0</title>
      <!-- Google Font: Source Sans Pro -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/fontawesome-free/css/all.min.css">
      <!-- daterange picker -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/daterangepicker/daterangepicker.css">
      <!-- iCheck for checkboxes and radio inputs -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
      <!-- Bootstrap Color Picker -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
      <!-- Tempusdominus Bootstrap 4 -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
      <!-- Select2 -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2/css/select2.min.css">
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
      <!-- Bootstrap4 Duallistbox -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
      <!-- BS Stepper -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/bs-stepper/css/bs-stepper.min.css">
      <!-- dropzonejs -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/plugins/dropzone/min/dropzone.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="<%= process.env.BASE_URL %>/dist/css/adminlte.min.css">
   </head>
   <body class="hold-transition sidebar-mini">
      <div class="wrapper">
      <!-- Navbar -->
      <%- include('../../_partials/_admin/navbar.ejs'); %>

      <!-- /.navbar -->
      <!-- Main Sidebar Container -->
      <%- include('../../_partials/_admin/sidebar.ejs'); %>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
         <!-- Content Header (Page header) -->
         <section class="content-header">
            <div class="container-fluid">
               <div class="row mb-2">
                  <div class="col-sm-6">
                     <h1>New Deal</h1>
                  </div>
                  <div class="col-sm-6">
                     <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">New Deal</li>
                     </ol>
                  </div>
               </div>
            </div>
            <!-- /.container-fluid -->
         </section>
         <!-- Main content -->
         <section class="content">
            <div class="container">
               <!-- SELECT2 EXAMPLE -->
               <div class="card card-primary">
                  <div class="card-header">
                     <h3 class="card-title">Add Deal Details</h3>
                     <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                     </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <form id="dealForm" method="post" action="/admin/deal/save">
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                              <label for="dealname">Name</label>
                              <input type="text" name="name" class="form-control" id="dealname" placeholder="Enter name">
                           </div>
                        </div>
                        <!-- /.col -->
                        <!-- /.row -->
                  
                     <div class="col-md-6">
                        <div class="form-group">
                          <label for="brands">Store</label>
                          <select name="store" class="form-control custom-select" id="store">
                            <option value="">Choose one</option>
                            <% if(stores) stores.forEach(function(stores){ %>
                              <option value="<%=stores._id%>"><%=stores.name%></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group">
                              <label>Description</label>
                              <textarea name="description" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                           </div>
                        </div>
                     </div>
                     <!-- /.card-body -->
                     <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                     </form>
                  </div>
                  <!-- /.card -->
               </div>
               <!-- /.container-fluid -->
         </section>
         <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
         <%- include('../../_partials/_admin/footer.ejs'); %>
         <!-- Control Sidebar -->
         <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
         </aside>
         <!-- /.control-sidebar -->
      </div>
      <!-- ./wrapper -->
    
   
<!-- jQuery -->
<script src="<%= process.env.BASE_URL %>/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= process.env.BASE_URL %>/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="<%= process.env.BASE_URL %>/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= process.env.BASE_URL %>/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->

<!-- jquery-validation -->
<script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="<%= process.env.BASE_URL %>/plugins/jquery-validation/additional-methods.min.js"></script>

<script>
  $(function () {
    bsCustomFileInput.init();
  });

  $(function () {
  
  $('#dealForm').validate({
    rules: {
      name: {
        required: true
      }
    },
    messages: {
      name: {
        required: "Please enter a deal name"
      }
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });
});
  </script>
      
   </body>
</html>