<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Grocery Shoppy an Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Grocery Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="/frontend/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/frontend/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="/frontend/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/jquery-ui1.css">
    <!-- fonts -->
    <link href="/fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
    <!-- top-header -->
    <%- await include('../_partials/_frontend/navbar.ejs'); %>
        <div class="container">
            <table class="table table-bordered">
                <% if(carts) carts.forEach(function(cart) { %>
                   <tr>
                       <td> <img  class="img-thumbnail" style="width: 100px;height:80px"
                        src="/images/products/<%= cart.image %>" />
                        </td>
                            <td><%= cart.name %></td>
                            <td><%= cart.add %></td>
                            <td><%= cart.amount %></td>
                    </tr> 
               <% }) %>
             </table>

        </div>


        <% console.log("---dataaaaa",carts) %>
            <%- await include('../_partials/_frontend/footer.ejs'); %>

</body>

</html>