<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="https://use.fontawesome.com/73e16e51a8.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
  
   <link rel="stylesheet" href="<%= process.env.BASE_URL %>/frontend/css/xakkt-slider.css" type="text/css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" type="text/css">
   
   <style>
       .bg-custom-1 {
  background-color: #85144b;
}

.bg-custom-2 {
background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
       .pricing{
           color:#df3b3b;
       }
       .pricing span{
            text-decoration: line-through;
            position: relative;
            font-size: 12px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.6);
            margin-left: 8px;
       }
.d-block.mb-5{
    text-align: center;
}
.carousel-item img {
    max-height: 350px;
}
       .quantity {
padding: 10px 0 10px 0;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
.xbtn {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
 
button:focus,
input:focus {
  outline:0;
}
       .xshop img {
                width: 30px;
            }
        .xshop {
           margin-top: 8px;

        }
   </style>

</head>
<body>
   <!-- Navbar -->
   <%- await include('../_partials/_frontend/navbar.ejs'); %>
   <!-- /.navbar -->
   <div class="main-body">
      
      <div class="jumbotron jumbotron-fluid x-jumbo">
         <div id="bannerCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <% for (const [i,banner] of banners.banner.entries()) { %>
                  <li data-target="#bannerCarousel" data-slide-to="<%=i%>" class="<%=(i==0)?'active':''%>"></li>
                <% }%> 
            </ol>
            <div class="carousel-inner">
                <% for (const [i,banner] of banners.banner.entries()) { %>
                    <div class="carousel-item <%=(i==0)?'active':''%>">
                        <img class="d-block w-100" src="<%= process.env.BASE_URL %>/images/banners/<%=banner.image%>" alt="First slide">
                    </div>
                <% }%> 
            </div>
            <a class="carousel-control-prev" href="#bannerCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#bannerCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>


         <div class="container-list">
            <ul class="list-inline">
                <% for (const [i,category] of categories.entries()) { %>
                    <%if(i==20){%>
                        <li class="list-inline-item"><a href="">Check More</a></li>
                    <% break; }%>    
                        <li class="list-inline-item"><a href="/<%=store.slug%>/category/products/<%=category.slug%>"><%=category.name%></a></li>
                    
                <% }%>    
            </ul>
         </div>
      </div>


      <div class="container">
        <div class="container mt-5 mb-5">
            
            <div class="row mt-1">
                <% for (const [i,product] of storeProducts.entries()) { %>
                <div class="col-md-2 col-sm-12">
                    <div class="p-card bg-white p-2 rounded px-3">
                       <!--div class="d-flex align-items-center credits"><img src="https://i.imgur.com/hlz6G90.png" width="16px"><span class="text-black-50 ml-2">2 credits</span></div-->
                       <img class="card-img-top" src="<%=process.env.BASE_URL%>/images/products/<%=product.image%>" alt="Card image cap">
                       
                       <!--span class="badge badge-primary py-1 mb-2">integrations</span-->
                       


                        <div class="d-block mb-5">
                            <div class="product-title">
                                <%=product.name.english%>
                            </div>

                            <div class="pricing">
                                <%=store._currency.name%><%=product.deal_price%><span><%=product.regular_price%></span>
                            </div>

                            <div class="quantity">
                                <button class="minus-btn xbtn" type="button" name="button">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                                <input type="text" name="quantity" value="1">
                                <button class="plus-btn xbtn" type="button" name="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </div>  
                            <div class="xshop ">
                                <span class="" style="padding-right:0;">
                                    <img class="img-responsive xakkti x-cart x-cart-red-6281006859548 d-none" data-toggle="tooltip" data-placement="bottom" title="" data-prop="x-cart" data-sku="6281006859548" src="<%=process.env.BASE_URL %>/frontend/images/RED_Cart.png" alt="" data-original-title="Remove from Cart">
                                    <img class="img-responsive xakkti x-cart x-cart-grey-6281006859548" data-toggle="tooltip" data-placement="bottom" title="" data-prop="x-cart" data-sku="6281006859548" src="<%=process.env.BASE_URL %>/frontend/images/GREY_Cart.png" alt="" data-original-title="Add to Cart">
                                </span>
                                <span class="">
                                        <img class="img-responsive xakkti x-heart x-heart-red-6281006859548" data-toggle="tooltip" data-placement="bottom" title="" data-prop="x-heart" data-sku="6281006859548" src="<%=process.env.BASE_URL %>/frontend/images/RED_Favorite.png" alt="" data-original-title="Remove from favourite">
                                        <img class="img-responsive xakkti x-heart x-heart-grey-6281006859548 d-none" data-toggle="tooltip" data-placement="bottom" title="" data-prop="x-heart" data-sku="6281006859548" src="<%=process.env.BASE_URL %>/frontend/images/GREY_Favorite.png" alt="" data-original-title="Add to favourite">
                                </span>
                                <span class="" style="padding-left:0;">
                                    <img class="img-responsive xakkti x-list x-list-red-6281006859548 d-none" data-toggle="tooltip" data-placement="bottom" title="" data-sku="6281006859548" data-prop="x-list" src="<%=process.env.BASE_URL %>/frontend/images/RED_shopping_List.png" alt="" data-original-title="Remove from shopping list">
                                    <img class="img-responsive xakkti x-list x-list-grey-6281006859548" src="<%=process.env.BASE_URL %>/frontend/images/GREY_Shopping_List.png" data-toggle="tooltip" data-placement="bottom" title="" data-sku="6281006859548" data-prop="x-list" alt="" data-original-title="Add to shopping list">
                                </span>
                             </div>

                          </div>
                       
                       
                   
                    </div>
                 </div>
                 <% }%> 
            </div>
           
         </div>                   
      </div> <!--container-fluid-->
  

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          
          <%if(locals.pre){%>
            <li class="page-item">
              <a class="page-link" href="<%=process.env.BASE_URL%>/aviation-supermarket17-a-street/category/products/spices?page=<%=pre%>" tabindex="-1">Previous</a>
            </li>
          <% } %>

          <%for( var i=1; i<totalPages; i++) {%>
            <li class="page-item <%=(currentPage==i)?'active':''%>"><a class="page-link" href="<%=process.env.BASE_URL%>/aviation-supermarket17-a-street/category/products/spices?page=<%=i%>"><%=i%></a></li>
          <%}%>

          <%if(locals.next){%>
          <li class="page-item" >
            <a href="<%=process.env.BASE_URL%>/aviation-supermarket17-a-street/category/products/spices?page=<%=next%>" class="page-link" >Next</a>
          </li>
          <% } %>
        </ul>
      </nav>

   </div>



<%- await include('modals/product-details.ejs'); %>


   <!-- Footer -->
   <%- await include('_partials/footer.ejs'); %>
  <!-- Footer -->

   <script src="<%= process.env.BASE_URL %>/frontend/js/xakkt.js"></script>

  
</body>
</html>