

<%- await include('./auth.ejs'); %>

<nav class="custom-nav navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
       <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
             <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Deals</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#">Contact us</a>
          </li>
       </ul>
      
       <div class="mx-auto">
          <a href="/" class="text-sm-left text-md-right text-lg-right navbar-brand">
               <img src="<%= process.env.BASE_URL %>/frontend/images/xakkt.png" alt="User Avatar" style="width:25%" class="img-size-50 img-circle mr-3">
            </a>
       </div>
       

       <ul class="navbar-nav ml-auto">
          
         <%if(userEmail==null){%>
            <li class="nav-item active">
               <a class="nav-link btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm" href="#">Login </a>
            </li>
            <li class="nav-item active">
               <a class="nav-link btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm" href="#">Signup</a>
            </li>
            <%}else{%>
               <li class="nav-item active">
                  <a class="nav-link btn btn-default btn-rounded mb-4" href="javascript:void(0);"><%=userEmail%></a>
               </li>
               <li class="nav-item active">
                  <a class="nav-link btn btn-default btn-rounded mb-4" href="<%=process.env.BASE_URL%>/user/logout">Log Out</a>
               </li>
            <%}%>
         <li class="nav-item">
            <img class="img-responsive xakkti" id="cartbutton" data-userid="<%=userid%>" data-storeid="<%= (!!locals.store)?store._id:'' %>" src="<%= process.env.BASE_URL %>/frontend/images/GREY_Cart.png" data-toggle="modal" style="width:10%" alt="">
            <span class='badge badge-warning' id='lblCartCount'> 5 </span>
         </li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Log Out</a>
            </div>
          </li> 
       </ul> 
      
     
    </div>
 </nav>

 <%- await include('../../frontend/modals/cart-details.ejs'); %>
