<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Vertical (basic) form <%=user.type %></h2>
  <form action="http://localhost:4000/api/update-profile/5db72e47c6780904657d225c" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="email">fname:</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter fname" value="<%=user.first_name %>" name="fname">
    </div>
    <input type="hidden" name="_method" value="put" />
    <div class="form-group">
      <label for="email">lname:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter lname" value="<%=user.last_name %>" name="lname">
    </div>
    <div class="form-group">
      <label for="email">pedicab_no:</label>
      <input type="text" class="form-control" id="pedicab_no" placeholder="Enter pedicab_no" value="<%=user.pedicab_no %>" name="pedicab_no">
    </div>
    <div class="form-group">
      <label for="email">email:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter lname" value="<%=user.email%>" name="email">
    </div>
    
    <div class="form-group">
      <label for="profile_pic">userPhoto:</label>
      <input type="file" class="form-control" id="profile_pic" placeholder="Enter lname" name="profile_pic">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>
